@{
    ViewBag.Title = "What is IBDb?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>IBDb is acronym for Internet Book Database. By using IBDb you can get every kind of information about certain book. Informations like plot, number of page, infos about authors, book reviews and so on. I hope you will enjoy..</p>


