@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Адрес: бул. "България" 236А, 4027 Пловдив <br />
    Работно време: Затворено ⋅ Отваря 10.00 ч.<br />
    <abbr title="Phone">P:</abbr>
    032 261 755

    <p> <a href="https://www.google.com/maps/d/u/0/viewer?msa=0&ll=42.157614%2C24.713531&spn=0.018033%2C0.042272&mid=1RIlYteTPmiDC9JWUFWVZ2AEueMU&z=15" class="btn btn-primary btn-lg">View on Google Maps &raquo;</a></p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>