@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IBDb</h1>
    <p class="lead">IBDb is acronym for Internet Book Database. By using IBDb  you can get every kind of information about certain book. Informations like plot, number of page, infos about authors, book reviews and so on. I hope you will enjoy.</p>
    <p><a href="https://www.goodreads.com/shelf/show/information" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<img src="https://www.ukrgate.com/eng/wp-content/uploads/2021/02/The-Ukrainian-Book-Institute-Purchases-380.9-Thousand-Books-for-Public-Libraries1.jpeg">